tech-chip { 
  padding: 0px;
  margin: 0px;

  .tagText {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #004800;
  }       

  .routeLink {
    padding: 8px;
    margin: 0px;
  }

  a:hover, a.link-active {
    .tagText {
      display: inline;
      margin-right: 0px;
      margin-left: 0px;
      padding: 0px;
      font-size: 14px;
      color: #000000;
      text-transform: uppercase;
      transition: all .25s ease;
    }       
  }

  .tagBtnList {
     border: none;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    outline: none;
    transition: all .15s ease;
    cursor: pointer;
  }

  stencil-route-link a,
  a {
    font-size: 14px;
    color: #004800;
    text-decoration: none;
  }

  .tagBtnList:hover {
    box-shadow: var(--button-shadow-hover);
    transform: translateY(3px);
  }

  .chip {
    padding: 4px 4px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
