site-header {
  position: fixed;
  background-color: rgba(24, 72, 24, 0.95);
  padding: 0px;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  .logo-link a {
    margin: 0px;
  }

  .logo {
    background: url("/assets/img/yagabuLogoWhite48x140.png");
    background-size: contain;
    height: 48px;
    width: 140px;
    padding: 0px;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .site-header {
    padding: 0px;
    max-width: 1080px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  stencil-route-link a,
  a {
    font-size: 18px;
    margin: 8px 8px;
    margin-right: 1.4em;
    color: #dfdfd8;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  .noWrapLink
  {
    white-space: nowrap;
  }

  stencil-route-link a:hover,
  stencil-route-link a.link-active,
  a:hover {
    color: #FFFFF8 !important;
    text-decoration: none;
  }

  .spacer {
    width: 100%;
  }

  @media screen and (max-width: 450px) {

    .logo {
      background: url("/assets/img/yagabuLogoWhite48x48.png");
      background-size: contain;
      height: 32px;
      width: 32px;
      padding: 0px;
      margin-left: 16px;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    stencil-route-link a,
    a {
      font-size: 14px;
      margin: 2px 2px;
      margin-right: 1.4em;
      color: #dfdfd8;
      text-decoration: none;
      font-weight: 300;
      letter-spacing: 0.04em;
      text-decoration: none;
      transition: all 0.2s ease;
    }
  }
}
